a.nav-link {
    display: inline-block;
    color: rgb(255, 255, 255, 0.75);
}

a.nav-link:hover {
    color: white;
}

a.nav-link.active {
    color: white;
}

.space-top {
    margin-top: 2em;
}

.space-left {
  margin-left: 2em;
}

.navbar span {
    color: #bbbbbb;
}

.card-blockquote>img {
    width: 100%;
}

.card {
    margin-bottom: 1em;
}

.selected {
	background: #666666;
}

div.btns > a > button.left {
    font-size: 20px;
    float: left;
    margin: 5px;
  }
  
  div.btns > a > button.right {
    font-size: 20px;
    float: left;
    margin: 5px;
  }
  div.details {
    float: left;
  }

  .card-blockquote>img.list {
    width: 100%;
    height: 200px;
  }
  .card-blockquote>img.details {
    width: 100%;
  }
  .card {
    margin-bottom: 1em;
  }
  
  div.col-md-4 {
    display: inline-block;
    margin-bottom: 10px;
  }

  div.col-md-6 > p {
    font-size: 20px;
    text-align: left;
  }
  .text {
    text-align: center;
  }

  .allUsers {
  margin-left: 2em;
  margin-right: 2em;
  }